<?xml version="1.0"?>
<launch>
<!--    <node name="rpi_camera" type="rpi_camera_node" pkg="serp" output="screen"/>-->
<!--    <node name="graphical_interface" type="graphical_interface" pkg="serp" output="screen"/>-->
    <node name="video_tests" type="graphical_interface" pkg="serp" output="screen"/>

</launch>
